:root {
	--global-padding: 16px;
	--global-margin: 16px;
	--white: #fff;
	--black: #333;
	--gray: #aaa;
	--lightgray: #d3d3d3;
	--lightpink: #ffb6c1;

	font-size: 16px;
}
body {
	color: var(--black)
}
@keyframes dots {

	0%,
	20% {
		color: rgba(255, 255, 255, 0);
		text-shadow:
			.25em 0 0 rgba(255, 255, 255, 0),
			.5em 0 0 rgba(255, 255, 255, 0);
	}

	40% {
		color: #000;
		text-shadow:
			.25em 0 0 rgba(255, 255, 255, 0),
			.5em 0 0 rgba(255, 255, 255, 0);
	}

	60% {
		text-shadow:
			.25em 0 0 #000,
			.5em 0 0 rgba(255, 255, 255, 0);
	}

	80%,
	100% {
		text-shadow:
			.25em 0 0 #000,
			.5em 0 0 #000;
	}
}
.App {
	display: flex;
	align-items: center;
	min-height: 100%;
	padding: var(--global-padding)
}
.options {
	display: flex;
	justify-content: center;
	border: 1px solid var(--gray);
	margin: 0;
	padding: calc(var(--global-padding) - var(--global-padding) / 4);
}
.options__item {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	margin: calc(var(--global-margin) / 4);
}
.form-group__checkbox ~ .form-group__label {
	margin-left: calc(var(--global-margin) / 4);
}
.container {
	text-align: center;
	flex-grow: 1;
	margin: 0 auto;
	max-width: 768px;
}
.root {
	height: 100%;
}
.loader {
	align-items: center;
	display: flex;
	font-size: 1.125rem;
	height: 100%;
	justify-content: center;
	padding: 16px;
}

.loader__text {
	margin: 0 auto;
	position: relative;
}

.loader__text::after {
	animation: dots 1s steps(5, end) infinite;
	content: ' .';
	left: 100%;
	position: absolute;
	top: 0;
}
.App__loader {
	font-family: monospace;
	padding: 0;
}
.App__container {
	display: grid;
	grid-row-gap: var(--global-padding)
}
.App__abbrs {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	margin: 0;
}
.abbrs {
	font-size: 0.75rem;
	margin: 0 calc(var(--global-margin) / -4);
}
.abbrs__item {
	padding: calc(var(--global-margin) / 8) calc(var(--global-margin) / 4)
}
.address:not(:empty) {
	display: flex;
	justify-content: center;
	margin: calc(var(--global-padding) / -8) calc(var(--global-margin) / -4)
}
.address__item:not(:empty) {
	padding: calc(var(--global-padding) / 8) calc(var(--global-padding) / 4);
}
.address__item {
	display: flex;
	align-items: center;
}
.address__icon {
	margin-right: calc(var(--global-margin) / 4);
}
