.range-conroller {
	position: relative;
	text-align: left;
	width: 100%;
	margin: 0;
	padding: var(--global-padding);
	border: 1px solid var(--gray);
}
.range-conroller__input {
	grid-area: input;
	display: block;
	margin: 0 auto;
	width: 100%;
}
.range-conroller__actions {
	grid-area: actions;
	display: flex;
	justify-content: center;
}
.range-conroller__action {
	margin: 0 calc(var(--global-padding) / 4);
}
.range-conroller__label {
	display: flex;
	align-items: center;
	grid-area: label;
	background-color: var(--body-bg);
}
.range-conroller__legend {
	font-size: 1rem;
	background-color: var(--white);
	position: absolute;
	top: 0;
	left: calc(var(--global-padding) - var(--global-padding) / 8);
	padding: calc(var(--global-padding) / 8);
	transform: translateY(-50%);
}
.range-conroller__grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
		'label input input .'
		'datalist datalist datalist datalist'
		'actions actions actions actions';
	grid-gap: calc(var(--global-padding) / 2);
}
